<a href="https://colab.research.google.com/github/Sharandeep02/python-practicing/blob/master/progs_on_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#program to get sum of odd tuple elements
s=(7,8,9,1,10,7)
sum=0
for i in range(len(s)):
  if s[i]%2 != 0:
    sum=sum+s[i]
print(sum)

24

In [8]:
#progran to find smallest second index value from a list of tuples
s=[(4,1),(1,2),(6,0)]
if (s[0][1] < s[1][1] and s[2][1]):
  print(s[0])
elif(s[1][1] < s[0][1] and s[2][2]):
  print(s[1])
else:
  print(s[2])

(6, 0)

In [0]:
l=(10,20,30,40,50,60,70,80)
l=l+(60,)#adding a element to the tuple at the end
print(l)

In [18]:
#adding an element to a tuple
s=(10,20,30,40,50,60,70,80)
s=s[:4]+(100,)+s[5:]
print(s)



#deleting an element from tuple
s=s[0:4]+s[5:]
print(s)

(10, 20, 30, 40, 100, 60, 70, 80)
(10, 20, 30, 40, 60, 70, 80)

In [22]:
#program to convert a tuple into string 
t=('w','e','l','c','o','m','e')
s=""
for i in range(len(t)):
  s=s+(t[i])
print(s)

welcome

In [25]:
#program to check an element exist in tuple or not
a=(2,4,5,6,2,3,4,4,7)
n=int(input("which element u want to check:"))
if n in a:
  print("yes")
else:
  print("no")

which element u want to check:5
yes

In [27]:
#program to reverse tuple
p=(5,10,15,20)
print(p[::-1])

(20, 15, 10, 5)